[project]
	description = "DTLS.Net - C# Library that implements DTLS protocol"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
[access "refs/for/refs/*"]
	read = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	push = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	label-Code-Review = -2..+2 group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	label-Verified = -1..+1 group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	rebase = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	removeReviewer = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	submit = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
[access "refs/heads/*"]
	read = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	create = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	push = +force group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	pushMerge = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
[access "refs/tags/*"]
	push = +force group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	pushTag = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
	pushSignedTag = group user/Nikhil Zinjurde (nikhil-zinjurde-imgtec)
